[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=SailDiscord
Exec=SailDiscord
Name=SailDiscord
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=SailDiscord

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=io.github.roundedrectangle
# ApplicationName does not have to be identical to Name
ApplicationName=SailDiscord
# Add the required permissions here
Permissions=

