on: [push]
jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: yesolutions/mirror-action@master
        with:
          REMOTE: 'https://codeberg.org/roundedrectangle/SailDiscord.git'
          GIT_USERNAME: roundedrectangle
          GIT_PASSWORD: ${{ secrets.CODEBERG_PASSWORD }}
